# IDE Folders and Files
.vs/
.vscode/
Solarium/.vs/

# Libraries
Solarium/lib/
Solarium/lib.zip

# Compiled Sources
Solarium/obj/
Solarium/out/
Solarium/build/
Solarium/Shaders/out/
Solarium/Solarium/include/glm/out/

# Windows Stuff
*.ini